MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_HOST=mysql
MYSQL_DB=aehub
MYSQL_PORT=3306
SECRET=secretKey
URL_MICROSOFT=url
GMAIL_APP_PASSWORD=pasword
GMAIL_SENDER=example@gmail.com

BOOM_USER= str
BOOM_PASS= str
BOOM_SLUG= str
BUCKET= str
URL_SERVICE_BOOM=url